@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {

}

.navbar-brand {
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
}

.period, .add, .total {
	display: none;
}

span, input, select {
	margin: 5px;
}
#w0, #w1, #w2 .form-control {
	width: 15%;
}
.table-container {
	width: 50%;
	margin-top: 10px;
	display: none;
}
.result {
	height: 30px;
	margin-top: 10px;
	padding: 10px;
	display: none;
}